Sebastian Kuckuk <sebastian.kuckuk@fau.de> kuckuk <sebastian.kuckuk@fau.de>
Stefan Kronawitter <stefan.kronawitter@uni-passau.de> Kronawitter Stefan <kronast@fim.uni-passau.de>
Alexander Grebhahn <alexander.grebhahn@uni-passau.de> grebhahn <alexander.grebhahn@uni-passau.de> 
Alexander Grebhahn <alexander.grebhahn@uni-passau.de> agrebhahn <alexander.grebhahn@uni-passau.de>
Harald Koestler <harald.koestler@fau.de> koestler <harald.koestler@fau.de>
